# Magic The Gathering Data in Python

In [ ]:
import pandas as pd
from pandas.io.json import json_normalize

url = "https://api.scryfall.com/cards/search?q=set%3ATHS&include_extras=true&as=checklist.json"
df = pd.read_json(url, orient='column')
df = pd.DataFrame.from_records(df['data'])
df.drop(['id', 'oracle_id', 'multiverse_ids', 'object', 'mtgo_id', 'mtgo_foil_id', 'tcgplayer_id', 'lang', 'uri', 'scryfall_uri', 'layout', 'highres_image', 'image_uris', 'all_parts'], 1, inplace=True)
df.isna().sum()

df.head(10)

In [ ]:
import requests
cards_api_res = requests.get('https://api.scryfall.com/cards/search?q=set%3ATHS&include_extras=true&as=checklist.json')
cards = cards_api_res.json()
data = cards['data']

import pprint
pprint.pprint(cards)

In [ ]:
pip install sqalchemy

In [4]:
import json
import pandas as pd
import requests
import sqlalchemy
import psycopg2



db = psycopg2.connect(database='mtg_data', user='postgres', password='0liveoil!', host='postgresmtg.cbfhoekxgnh5.us-east-2.rds.amazonaws.com', port='5432')
c = db.cursor()

url = "https://api.scryfall.com/cards/search?q=set%3ATHS&include_extras=true&as=checklist"
content = requests.get(url).json()
sets = json.dumps(content)
df = pd.read_json(sets)



df = pd.DataFrame.from_records(df['data'])
df.drop(['id', 'oracle_id', 'multiverse_ids', 'object', 'mtgo_id', 'mtgo_foil_id', 'tcgplayer_id', 'uri'], 1, inplace=True)
df.to_sql(sets, db, if_exists='replace', dtype='string')





def run_query(query):
    return pd.read_sql_query(query,db)




df

query = """
SELECT * 
FROM sets
ORDER BY name;
"""

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^